.dashboard
  .new-item-form.center
    = render partial: 'items/form'

  - if @list.focused_item.present?
    .current-focus.to-do-item.center
      .item-actions= link_to_complete @list.focused_item
      = link_to_unfocus @list.focused_item
      = @list.focused_item.name

  = render partial: 'lists/active_items'

  - if @list.items.completed.any?
    = render partial: 'lists/recently_completed_items'
