.dashboard
  .new-item-form.center
    = render partial: 'items/form'

  - if @list.focused_item.present?
    .current-focus.center
      = link_to_unfocus @list.focused_item
      = @list.focused_item.name
      = link_to_complete @list.focused_item

  = render partial: 'lists/active_items'

  - if @list.items.completed.any?
    = render partial: 'lists/recently_completed_items'
